USE [master]
GO
/****** Object:  Database [Library]    Script Date: 2026-08-18 6:05:32 PM ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Library.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Schema [Library System]    Script Date: 2026-08-18 6:05:32 PM ******/
CREATE SCHEMA [Library System]
GO
/****** Object:  Table [dbo].[BorrowStatus]    Script Date: 2026-08-18 6:05:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowStatus](
	[BorrowStatusID] [int] IDENTITY(1,1) NOT NULL,
	[BorrowStatusTitle] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BorrowStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[Username] [varchar](40) NOT NULL,
	[HashedPassword] [varchar](350) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[FailedLoginAttempts] [int] NULL,
	[AccountLockExpirationDate] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
	[LastPasswordChangeDate] [datetime] NULL,
	[Permission] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MemberJoinDate] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[MembershipTypeID] [int] NOT NULL,
	[MembershipExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowTransactions]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowTransactions](
	[BorrowID] [int] IDENTITY(1,1) NOT NULL,
	[BookCopyID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[PolicyID] [int] NOT NULL,
	[BorrowStatusID] [int] NOT NULL,
	[BorrowDate] [datetime] NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NULL,
	[LostDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BorrowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](14) NOT NULL,
	[PublicationDate] [datetime] NULL,
	[CategoryID] [int] NOT NULL,
	[AuthorName] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCopies]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCopies](
	[BookCopyID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[ConditionID] [int] NOT NULL,
	[BookCopyPrice] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookCopyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibraryPolicy]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibraryPolicy](
	[PolicyID] [int] IDENTITY(1,1) NOT NULL,
	[FeesPerLateDay] [decimal](5, 2) NOT NULL,
	[GracePeriodDays] [int] NOT NULL,
	[LostBookFeeMultiplier] [decimal](5, 2) NOT NULL,
	[EffectiveFrom] [datetime] NOT NULL,
	[EffectiveTo] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PolicyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BorrowTransactions_View]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[BorrowTransactions_View]
AS
SELECT dbo.BorrowTransactions.BorrowID,dbo.BookCopies.BookCopyID, dbo.Members.MemberID, dbo.BorrowStatus.BorrowStatusID, dbo.Books.ISBN, dbo.Users.Username, dbo.LibraryPolicy.PolicyID, dbo.BorrowStatus.BorrowStatusTitle, dbo.BorrowTransactions.BorrowDate, dbo.BorrowTransactions.DueDate, dbo.BorrowTransactions.ReturnDate, 
             dbo.BorrowTransactions.LostDate
FROM   dbo.BookCopies INNER JOIN
             dbo.BorrowTransactions ON dbo.BookCopies.BookCopyID = dbo.BorrowTransactions.BookCopyID INNER JOIN
             dbo.BorrowStatus ON dbo.BorrowTransactions.BorrowStatusID = dbo.BorrowStatus.BorrowStatusID INNER JOIN
             dbo.Members ON dbo.BorrowTransactions.MemberID = dbo.Members.MemberID INNER JOIN
             dbo.LibraryPolicy ON dbo.BorrowTransactions.PolicyID = dbo.LibraryPolicy.PolicyID INNER JOIN
             dbo.Books ON dbo.BookCopies.BookID = dbo.Books.BookID INNER JOIN
             dbo.Users ON dbo.Members.UserID = dbo.Users.UserID
GO
/****** Object:  Table [dbo].[Fines]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fines](
	[FineID] [int] IDENTITY(1,1) NOT NULL,
	[BorrowID] [int] NULL,
	[FineStatusID] [int] NOT NULL,
	[FineAmount] [decimal](5, 2) NOT NULL,
	[Reason] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ClosedDate] [datetime] NULL,
	[RenewID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[NationalNo] [nvarchar](30) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[SecondName] [nvarchar](30) NOT NULL,
	[ThirdName] [nvarchar](30) NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [bit] NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Email] [nvarchar](40) NULL,
	[ImagePath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NationalNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FineStatus]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FineStatus](
	[FineStatusID] [int] IDENTITY(1,1) NOT NULL,
	[FineStatusName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FineStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Fines_View]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Fines_View]
AS
SELECT dbo.Fines.FineID, dbo.Fines.FineAmount, dbo.Fines.Reason, dbo.Fines.CreatedDate, dbo.Fines.ClosedDate, dbo.BorrowStatus.BorrowStatusTitle, dbo.Users.Username, dbo.People.NationalNo
FROM   dbo.Fines INNER JOIN
             dbo.FineStatus ON dbo.Fines.FineStatusID = dbo.FineStatus.FineStatusID INNER JOIN
             dbo.BorrowTransactions ON dbo.Fines.BorrowID = dbo.BorrowTransactions.BorrowID INNER JOIN
             dbo.BorrowStatus ON dbo.BorrowTransactions.BorrowStatusID = dbo.BorrowStatus.BorrowStatusID INNER JOIN
             dbo.Members ON dbo.BorrowTransactions.MemberID = dbo.Members.MemberID INNER JOIN
             dbo.Users ON dbo.Members.UserID = dbo.Users.UserID INNER JOIN
             dbo.People ON dbo.Users.PersonID = dbo.People.PersonID
GO
/****** Object:  Table [dbo].[BookCategories]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryDescription] [nvarchar](500) NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookConditions]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookConditions](
	[ConditionID] [int] IDENTITY(1,1) NOT NULL,
	[ConditionFees] [int] NOT NULL,
	[ConditionTitle] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConditionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCopyStatus]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCopyStatus](
	[BookStatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusTitle] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinePayments]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinePayments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[FineID] [int] NOT NULL,
	[AmountPaid] [decimal](5, 2) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipRenews]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipRenews](
	[RenewID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NULL,
	[MembershipTypeID] [int] NULL,
	[RenewDate] [date] NULL,
	[RenewFees] [decimal](18, 0) NULL,
	[IsPaid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RenewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipType]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipType](
	[MembershipTypeID] [int] IDENTITY(1,1) NOT NULL,
	[MembershipTypeName] [nvarchar](50) NOT NULL,
	[MembershipFees] [float] NULL,
	[MembershipBorrowLimit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MembershipTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookCopies]  WITH NOCHECK ADD  CONSTRAINT [Fk_Book_ID] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[BookCopies] CHECK CONSTRAINT [Fk_Book_ID]
GO
ALTER TABLE [dbo].[BookCopies]  WITH NOCHECK ADD  CONSTRAINT [FK_Condition_ID] FOREIGN KEY([ConditionID])
REFERENCES [dbo].[BookConditions] ([ConditionID])
GO
ALTER TABLE [dbo].[BookCopies] CHECK CONSTRAINT [FK_Condition_ID]
GO
ALTER TABLE [dbo].[BookCopies]  WITH NOCHECK ADD  CONSTRAINT [FK_Status_ID] FOREIGN KEY([StatusID])
REFERENCES [dbo].[BookCopyStatus] ([BookStatusID])
GO
ALTER TABLE [dbo].[BookCopies] CHECK CONSTRAINT [FK_Status_ID]
GO
ALTER TABLE [dbo].[Books]  WITH NOCHECK ADD  CONSTRAINT [FK_Category_ID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[BookCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Category_ID]
GO
ALTER TABLE [dbo].[BorrowTransactions]  WITH NOCHECK ADD  CONSTRAINT [FK_BookCopyID] FOREIGN KEY([BookCopyID])
REFERENCES [dbo].[BookCopies] ([BookCopyID])
GO
ALTER TABLE [dbo].[BorrowTransactions] CHECK CONSTRAINT [FK_BookCopyID]
GO
ALTER TABLE [dbo].[BorrowTransactions]  WITH NOCHECK ADD  CONSTRAINT [Fk_BorrowStatus_ID] FOREIGN KEY([BorrowStatusID])
REFERENCES [dbo].[BorrowStatus] ([BorrowStatusID])
GO
ALTER TABLE [dbo].[BorrowTransactions] CHECK CONSTRAINT [Fk_BorrowStatus_ID]
GO
ALTER TABLE [dbo].[BorrowTransactions]  WITH NOCHECK ADD  CONSTRAINT [FK_Member_ID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[BorrowTransactions] CHECK CONSTRAINT [FK_Member_ID]
GO
ALTER TABLE [dbo].[BorrowTransactions]  WITH NOCHECK ADD  CONSTRAINT [Fk_Policy_ID] FOREIGN KEY([PolicyID])
REFERENCES [dbo].[LibraryPolicy] ([PolicyID])
GO
ALTER TABLE [dbo].[BorrowTransactions] CHECK CONSTRAINT [Fk_Policy_ID]
GO
ALTER TABLE [dbo].[FinePayments]  WITH NOCHECK ADD  CONSTRAINT [Fk_Fine_ID] FOREIGN KEY([FineID])
REFERENCES [dbo].[Fines] ([FineID])
GO
ALTER TABLE [dbo].[FinePayments] CHECK CONSTRAINT [Fk_Fine_ID]
GO
ALTER TABLE [dbo].[Fines]  WITH NOCHECK ADD  CONSTRAINT [Fk_Borrow_ID] FOREIGN KEY([BorrowID])
REFERENCES [dbo].[BorrowTransactions] ([BorrowID])
GO
ALTER TABLE [dbo].[Fines] CHECK CONSTRAINT [Fk_Borrow_ID]
GO
ALTER TABLE [dbo].[Fines]  WITH NOCHECK ADD  CONSTRAINT [Fk_FineStatus_ID] FOREIGN KEY([FineStatusID])
REFERENCES [dbo].[FineStatus] ([FineStatusID])
GO
ALTER TABLE [dbo].[Fines] CHECK CONSTRAINT [Fk_FineStatus_ID]
GO
ALTER TABLE [dbo].[Members]  WITH NOCHECK ADD  CONSTRAINT [FK_Membership_ID] FOREIGN KEY([MembershipTypeID])
REFERENCES [dbo].[MembershipType] ([MembershipTypeID])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Membership_ID]
GO
ALTER TABLE [dbo].[Members]  WITH NOCHECK ADD  CONSTRAINT [FK_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_UserID]
GO
ALTER TABLE [dbo].[MembershipRenews]  WITH NOCHECK ADD  CONSTRAINT [FK_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[MembershipRenews] CHECK CONSTRAINT [FK_MemberID]
GO
ALTER TABLE [dbo].[MembershipRenews]  WITH NOCHECK ADD  CONSTRAINT [FK_MembershipID] FOREIGN KEY([MembershipTypeID])
REFERENCES [dbo].[MembershipType] ([MembershipTypeID])
GO
ALTER TABLE [dbo].[MembershipRenews] CHECK CONSTRAINT [FK_MembershipID]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_Person_ID] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Person_ID]
GO
/****** Object:  StoredProcedure [dbo].[SP_BorrowBook]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   create procedure [dbo].[SP_BorrowBook]  
 @BookCopyID int,  
 @MemberID int,  
 @PolicyID int,  
 @BorrowStatusID int,  
 @BorrowDate datetime,  
 @DueDate datetime,  
 @ReturnDate datetime,  
 @LostDate datetime,  
 @BorrowID int output  
 as  
  begin  
   begin try  
    begin transaction  
    declare @Result bit  
  
     exec SP_IsMembershipExpired @MemberID = @MemberID, @Expired = @Result output  
     if @Result > 0  
      throw 50001, 'Membership expired', 1;  
  
     exec SP_HasReachedBorrowLimit @MemberID = @MemberID, @LimitReached = @Result output  
     if @Result > 0  
      throw 50002, 'Member reached borrow limit', 1;  
  
       
  
      insert into BorrowTransactions (BookCopyID, MemberID, PolicyID, BorrowStatusID,   
      BorrowDate, DueDate, ReturnDate, LostDate  
        
      ) values (@BookCopyID, @MemberID, @PolicyID, @BorrowStatusID,   
      @BorrowDate, @DueDate, @ReturnDate, @LostDate)  
  
      set @BorrowID = SCOPE_IDENTITY();  
  
      update BookCopies set StatusID = 3 where BookCopyID = @BookCopyID  
  
      commit transaction  
  
   end try  
   begin catch  
      
    if @@TRANCOUNT > 0  
     rollback;  
  
     throw  
  
   end catch  
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_CalculateBorrowFines]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[SP_CalculateBorrowFines]  
   @BookCopyID int,  
   @DueDate datetime,   
   @PolicyID int,  
   @TotalFees decimal(10,2) output  
   as  
    begin  
  
    declare @LateDays int = DateDiff(Day, @DueDate, GetDate()) - (select GracePeriodDays from LibraryPolicy   
     where PolicyID = @PolicyID)  
  
     if @LateDays <= 0  
      begin  
       set @TotalFees = 0;  
       return;  
      end  
  
      set @TotalFees = @LateDays * (select FeesPerLateDay from LibraryPolicy   
     where PolicyID = @PolicyID)  
  
    end  
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckCopyIfAvilable]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_CheckCopyIfAvilable]    
  @BookCopyID int,
  @IsAvailable bit output
  as    
  begin    
  
    if not exists (select 1 from BookCopies
     where BookCopyID = @BookCopyID)
        begin
            set @IsAvailable = 0;
            return;
        end

    if not exists     
    (    
     select 1 from BookCopies  
     where BookCopyID = @BookCopyID and StatusID = 1    
     )   
       begin
            set @IsAvailable = 0;
            return;
        end
    

        set @IsAvailable = 1;
  end    
GO
/****** Object:  StoredProcedure [dbo].[SP_DamagedBook]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DamagedBook]      
   @BookCopyID int,          
   @BorrowID int,        
   @NewConditionID int        
   as          
    begin          
        begin try
            begin transaction

   declare @CurrentConditionFees decimal(10,2) = (select ConditionFees from BookConditions as BookC         
   inner join BookCopies as BCopy on BookC.ConditionID = BCopy.ConditionID where BCopy.BookCopyID = @BookCopyID)        
           
   declare @NewConditionFees decimal(10,2) = (select ConditionFees from BookConditions where ConditionID = @NewConditionID);

   declare @DamageFees decimal(10,2) = @NewConditionFees - @CurrentConditionFees;
        
   if @DamageFees > 0        
   begin
        insert into Fines (BorrowID, FineStatusID, FineAmount, Reason, CreatedDate, ClosedDate, RenewID)        
        values (@BorrowID, 2, @DamageFees, 'Damaged Book', GetDate(), null, null);     
        end
        
   update BookCopies set StatusID = 1, ConditionID = @NewConditionID where BookCopyID = @BookCopyID        
        
   update BorrowTransactions set BorrowStatusID = 3, ReturnDate = GetDate() where BorrowID = @BorrowID;    

   commit transaction
   end try
   begin catch

        if @@TRANCOUNT > 0
            Rollback;

            throw;
    
   end catch
    end 
GO
/****** Object:  StoredProcedure [dbo].[SP_DoesBorrowHasFees]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DoesBorrowHasFees]  
  @BorrowID int,  
  @HasFees bit output  
  as  
  begin  
  
 declare @BorrowFees decimal(10,2) = (select FineAmount from Fines where BorrowID = @BorrowID)  
  
   declare @PaidAmount decimal(10,2) = IsNull((select Sum(AmountPaid) from FinePayments as FPayment inner join Fines as F on F.FineID =   
   FPayment.FineID where F.BorrowID = @BorrowID),0)  
  
   declare @Remaining decimal(10,2) = @BorrowFees - @PaidAmount;  
   
   if @Remaining <= 0  
    begin  
     set @HasFees = 0;  
    return  
    end  
  
    set @HasFees = 1  
  
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_HasGeneralFees]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_HasGeneralFees]
	@MemberID int,
	@hasGeneralFees bit output
	as
	begin

		if exists(

			select 1 from Fines as F inner join BorrowTransactions as Borrow on F.BorrowID = Borrow.BorrowID 
			where Borrow.MemberID = @MemberID and F.ClosedDate is null
		)
		begin
			set @hasGeneralFees = 1
			return;
		end

		if exists(
			select 1 from Fines as F inner join MembershipRenews as MR on MR.RenewID = F.RenewID
			where F.ClosedDate is null and MR.MemberID = @MemberID
		)
		begin
			set @hasGeneralFees = 1
			return;
		end
		

		set @hasGeneralFees = 0
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_HasMembershipRenewFees]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    create procedure [dbo].[SP_HasMembershipRenewFees]  
 @RenewID int,  
 @hasFine bit output  
 as  
  begin  
  
   declare @PaidAmount decimal(10,2) = IsNull((select Sum(FPayment.AmountPaid) from FinePayments as FPayment inner join  
   Fines as F on FPayment.FineID = F.FineID  where F.RenewID = @RenewID),0)  
  
   declare @FineAmount decimal(10,2) = (select FineAmount from Fines where RenewID = @RenewID)  
  
   declare @Remainder decimal(10,2) = @FineAmount - @PaidAmount;  
  
   if @Remainder <= 0  
    begin  
     set @hasFine = 0;  
     return;  
    end  
  
    set @hasFine = 1  
  end  
GO
/****** Object:  StoredProcedure [dbo].[SP_HasReachedBorrowLimit]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_HasReachedBorrowLimit]  
       @MemberID int,    
      @LimitReached bit output    
    as    
 begin    
    
     if (select Count(*) from BorrowTransactions
    where MemberID = @MemberID and ReturnDate is null and LostDate is null)
    >=
    ISNull
    (
    (select MembershipBorrowLimit from MembershipType inner join Members on Members.MembershipTypeID = 
    MembershipType.MembershipTypeID where members.MemberID = @MemberID),
    0
    )
     begin
            set @LimitReached = 1;
            return;
    end
                
             set @LimitReached = 0  
 end  
GO
/****** Object:  StoredProcedure [dbo].[SP_IsBookCopyBorrowed]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_IsBookCopyBorrowed]  
   @BookCopyID int,  
   @IsBorrowed bit output  
   as   
    begin  
  
    if exists(  
    select 1 from BorrowTransactions  
                             where BookCopyID = @BookCopyID  
                             and ReturnDate is null and LostDate is null  
        )  
        begin
        set @IsBorrowed = 1  
        return;
        end


        set @IsBorrowed = 0  
    end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsMembershipExpired]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_IsMembershipExpired]  
    @MemberID int,  
    @Expired bit output  
    as  
    begin  
  
    if exists (
        select 1   
            from Members   
            where MemberID = @MemberID   
            and Members.MembershipExpirationDate  <= SYSDATETIMEOFFSET()  
        )  
        set @Expired = 1
        else
        set @Expired = 0
  
    end

GO
/****** Object:  StoredProcedure [dbo].[SP_LostBook]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   create procedure [dbo].[SP_LostBook]      
   @BookCopyID int,      
   @BorrowID int      
   as      
   begin
    begin try
    begin transaction
       
   declare @BookPrice decimal(10,2) = (select BookCopyPrice from BookCopies where BookCopyID = @BookCopyID)    
    
   insert into Fines (BorrowID, FineStatusID, FineAmount, Reason, CreatedDate, ClosedDate, RenewID)    
   values (@BorrowID, 2, @BookPrice, 'Lost Book', GetDate(), null, null);    
    
   update BookCopies set StatusID = 2 where BookCopyID = @BookCopyID    
    
   update BorrowTransactions set BorrowStatusID = 4, LostDate = GetDate() where BorrowID = @BorrowID;    
    
    commit transaction

    end try

    begin catch

        if @@TRANCOUNT > 0
            rollback;

            throw;


    end catch
end
GO
/****** Object:  StoredProcedure [dbo].[SP_PerformReturnLostDamaged]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_PerformReturnLostDamaged]  
 @BookCopyID int,  
 @BorrowId int,  
 @NewConditionID int,  
 @BorrowStatus int  
 AS  
  begin  
   begin try  
   if @BorrowStatus = 2  
    exec SP_ReturnBook @BookCopyID = @BookCopyID, @BorrowID = @BorrowId;  
  
   else if @BorrowStatus = 3  
    exec SP_DamagedBook @BookCopyID = @BookCopyID, @BorrowID = @BorrowId, @NewConditionID = @NewConditionID;  
  
    else if @BorrowStatus = 4  
    exec SP_LostBook @BookCopyID = @BookCopyID, @BorrowID = @BorrowId;  
  
    else  
    throw 50006, 'invalid transaction return state', 1;  
    end try  
    begin catch  
     throw;  
    end catch  
  end  
GO
/****** Object:  StoredProcedure [dbo].[SP_RenewMembership]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_RenewMembership]
	@MemberID int,
	@MembershipTypeID int,
	@RenewID int output
	as
		begin

			begin try

				begin transaction
				declare @RenewFees decimal = (select MembershipFees from MembershipType where MembershipTypeID = @MembershipTypeID);

				insert into  MembershipRenews (MemberID, MembershipTypeID, RenewDate, RenewFees, IsPaid)
					values (@MemberID, @MembershipTypeID, GetDate(), @RenewFees, 0)
					set @RenewId = SCOPE_IDENTITY();

					insert into Fines (BorrowID, FineStatusID, FineAmount, Reason, CreatedDate, ClosedDate, RenewID)
					values (null, 2, @RenewFees, 'Membership renewal', GETDATE(), null, @RenewId)

					update Members set MembershipExpirationDate = DATEADD(Month, 1, MembershipExpirationDate) where MemberID = @MemberID

				commit transaction
				
			end try
			begin catch

				if @@TRANCOUNT > 0
					Rollback;

					throw;

			end catch

		end
GO
/****** Object:  StoredProcedure [dbo].[SP_ReturnBook]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ReturnBook]  
 @BookCopyID int,  
 @BorrowID int  
 as  
  begin  
  begin try  
   begin transaction  
  
   declare @DueDate datetime = (select DueDate from BorrowTransactions where BorrowID = @BorrowID)  
   declare @PolicyID int = (select PolicyID from BorrowTransactions where BorrowID = @BorrowID)  
   declare @Fees decimal(10,2)  
   declare @Result bit  
  
  
      exec SP_IsBookCopyBorrowed @BookCopyID, @IsBorrowed = @Result output  
   if @Result <= 0  
     THROW 50004, 'book copy is not borrowed', 1;  
  
  
    exec SP_CalculateBorrowFines @BookCopyID = @BookCopyID, @DueDate = @DueDate,  
    @PolicyID = @PolicyID, @TotalFees = @Fees output;  
  
    if @Fees > 0  
     insert into Fines (BorrowID, FineStatusID, FineAmount, Reason, CreatedDate, ClosedDate, RenewID)  
     values (@BorrowID, 2, @Fees, 'Late return', GetDate(), null, null)  
  
    update BorrowTransactions set BorrowStatusID = 2, ReturnDate = GETDATE() where BorrowID = @BorrowID;  
  
    update BookCopies set StatusID = 1 where BookCopyID = @BookCopyID;  
  
    commit transaction;  
  
  end try  
  begin catch  
  
   if @@TRANCOUNT > 0  
    RollBack;  
  
    throw  
  
  end catch  
  
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_TotalUnpaidFees]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_TotalUnpaidFees]      
 @MemberID int,      
 @TotalUnpaidFees decimal output      
 as      
  begin      
         

   declare @TotalBorrowFees decimal(10,2) = (select IsNull(Sum(FineAmount),0) from Fines as F inner join BorrowTransactions as Borrow on
   Borrow.BorrowID = F.BorrowID where Borrow.MemberID = @MemberID and ClosedDate is null);
      
   declare @TotalRenewFees decimal(10,2) = (select IsNull(Sum(FineAmount),0) from Fines as F  inner join MembershipRenews 
   as Renews on Renews.RenewID = F.RenewID
   where F.RenewID is not null and Renews.MemberID = @MemberID and IsPaid = 0)

      set @TotalUnpaidFees = @TotalBorrowFees + @TotalRenewFees;
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateMemberMembership]    Script Date: 2026-08-18 6:05:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UpdateMemberMembership]
	@MemberID int,
	@MembershipTypeID int
	as
		begin

			begin try
				
				begin transaction
				declare @RenewFees decimal(10,2) = (select MembershipFees from MembershipType where MembershipTypeID = @MembershipTypeID)
				declare @RenewID int

					insert into MembershipRenews(MemberID, MembershipTypeID, RenewDate, RenewFees, IsPaid) values
					(@MemberID, @MembershipTypeID, GETDATE(), @RenewFees, 0)

					set @RenewID = SCOPE_IDENTITY();
				if @RenewFees > 0
				begin
				
					insert into Fines (BorrowID, FineStatusID, FineAmount, Reason, CreatedDate, ClosedDate, RenewID)
					values (null, 2, @RenewFees, 'Membership renewal', GETDATE(), null, @RenewID)

					end
				else
					update MembershipRenews set IsPaid = 1 where RenewID = @RenewID

				update Members set MembershipExpirationDate = DateAdd(Month, 1, MembershipExpirationDate),
				MembershipTypeID = @MembershipTypeID where MemberID = @MemberID

				commit transaction
			end try
			begin catch

				if @@TRANCOUNT > 0
					Rollback;

					throw;

			end catch
			
		end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[53] 4[8] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "BookCopies"
            Begin Extent = 
               Top = 3
               Left = 514
               Bottom = 181
               Right = 723
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "BorrowStatus"
            Begin Extent = 
               Top = 269
               Left = 583
               Bottom = 397
               Right = 811
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Members"
            Begin Extent = 
               Top = 0
               Left = 1301
               Bottom = 178
               Right = 1603
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "BorrowTransactions"
            Begin Extent = 
               Top = 7
               Left = 931
               Bottom = 185
               Right = 1144
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "LibraryPolicy"
            Begin Extent = 
               Top = 251
               Left = 1182
               Bottom = 429
               Right = 1444
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Books"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 185
               Right = 264
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Users"
            Begin Extent = 
               Top = 231
               Left = 1586
               Bottom = 409
               Right = 1890
            End
      ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BorrowTransactions_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'      DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BorrowTransactions_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BorrowTransactions_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Fines"
            Begin Extent = 
               Top = 6
               Left = 613
               Bottom = 184
               Right = 821
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "FineStatus"
            Begin Extent = 
               Top = 228
               Left = 307
               Bottom = 356
               Right = 526
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "BorrowTransactions"
            Begin Extent = 
               Top = 152
               Left = 1030
               Bottom = 344
               Right = 1243
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "BorrowStatus"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 135
               Right = 276
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Members"
            Begin Extent = 
               Top = 7
               Left = 1291
               Bottom = 185
               Right = 1593
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Users"
            Begin Extent = 
               Top = 228
               Left = 1624
               Bottom = 406
               Right = 1928
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "People"
            Begin Extent = 
               Top = 141
               Left = 48
               Bottom = 319
               Right = 256
            End
            ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Fines_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'DisplayFlags = 280
            TopColumn = 8
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Fines_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Fines_View'
GO
USE [master]
GO
